{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras tides_targets_extras custom_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <!-- BEGIN MODIFIED CONTENT -->

    <h2 class="text-center">The Time Domain Extragalactic Survey</h2>
    <p class="text-center"><img src="{% static 'tom_common/img/logo-color.png' %}" style="max-width: 400px;" alt="TiDES Logo"></p>
    <h3 class="text-center">The industralisation of transient spectroscopy.</h3>

    <!-- END MODIFIED CONTENT -->
   
    
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>

<div style="display:flex; flex-direction: row; gap: 60px;">
<!-- pie chart -->
  <div>
    <h5>Supernova Classifications</h5>
    <div id="piechart" style="width: 400px; height: 400px;"></div>
  </div>

<!-- classification timeline -->
  <div>
    <h5> Classification Timeline </h5>
    <div id="timeline" style="width: 400px; height: 400px;"></div>
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-3.6.0.min.js"></script> <!-- 3.6.0 is the latest version of plotly.js as of June 2026 -->
<script>
  const COLOURS = [
      '#B912D1', '#0542D1', '#17A008', '#638604', '#735401', '#6A1F00', '#3C0000'
      ];

  async function renderPieChart() {
    const response = await fetch('{% url "classification_data" %}');
    const data = await response.json();

    const chartData = [{
      type: 'pie',
      labels: data.labels,
      values: data.counts,
      marker: {
        colors: COLOURS.slice(0, data.labels.length)
      },
      textinfo: 'label+percent'
    }];

    Plotly.newPlot(
      'piechart', 
      chartData, 
      {title: 'Supernova Classifications',
      height: 400,
      width: 400}
      );
  }

  async function renderTimeline() {
    const response = await fetch('{% url "classification_timeline_data" %}');
    const data = await response.json();

    const cumulative_counts = [];
    let cumulative_sum = 0;
    for (const count of data.counts) {
      cumulative_sum += count;
      cumulative_counts.push(cumulative_sum);
    }

    renderChart();
  </script>

  <div id="redshiftplot" style="width: 400px; height: 400px;"></div>

  <script src="https://cdn.plot.ly/plotly-3.6.0.min.js"></script><!-- 3.6.0 is the latest version of plotly.js as of June 2026 -->
  <script>
      async function renderRedshiftPlot() {
        const response = await fetch('{% url "redshift_plot_data" %}');
        const data = await response.json();

        const zplotData = [{
            type: 'scatter',
            mode: 'markers',
            x: data.sn_types,
            y: data.redshifts,
            marker: { color: '#0542D1' }
        }];

        Plotly.newPlot('redshiftplot', zplotData, {
            title: 'Redshift by Classification',
            xaxis: { title: { text: 'Classification' } },
            yaxis: { title: { text: 'Redshift' } },
            height: 400,
            width: 400
        });
    }

    renderRedshiftPlot();

  </script>

</body>

    const timelineData = [{
      type: 'scatter',
      mode: 'lines+markers',
      x: data.labels,
      y: cumulative_counts,
      line: { 
        shape: 'linear',
        colour: '#0542D1'
      },
      marker: { 
        color: '#0542D1' 
      }
    }];

    Plotly.newPlot(
      'timeline', 
      timelineData, 
      {title: 'Classifications Over Time',
      xaxis: { title: 'Date' },
      yaxis: { title: 'Cumulative Number of Classifications' },
      height: 400, 
      width: 400}
      );
  }

  renderPieChart();
  renderTimeline();
</script>

{% endblock %}
