{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras tides_targets_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <!-- BEGIN MODIFIED CONTENT -->

    <h2 class="text-center">The Time Domain Extragalactic Survey</h2>
    <p class="text-center"><img src="{% static 'tom_common/img/logo-color.png' %}" style="max-width: 400px;" alt="TiDES Logo"></p>
    <h3>The industralisation of transient spectroscopy.</h3>

    <!-- END MODIFIED CONTENT -->
   
    
   
    
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>
<script src="{% static 'js/ajax.js' %}"></script>
{% ngsf_form %}

{% endblock %}
