*.pyc

logs/
env
tom_env/
data/
*pycache*
static/plots/
.DS_Store
db*
*.log
**/.DS_Store*
*ipynb_checkpoints*
custom_code/__pycache__/
tidestom/__pycache__/
.env
*pyc
*.fits*
static/.DS_Store
static/tom_common/.DS_Store

# Local Docker Compose overrides
docker-compose-local.override.yml
