django-debug-toolbar
django-bootstrap5
django-htmx
django-guardian
django-admin
tables
gevent
pandas>=2.3
matplotlib>=3.9
tomtoolkit>=2.26
tom_registration==1.02
lasair>=0.1.1
psycopg2 # PostgreSQL adapter for Python
gunicorn>=21.2
extinction>=0.4.8
pysnid>=0.6.0
ngsf>=0.0.2
