{% extends 'tom_common/base.html' %}
{% load bootstrap4 static %}
{% block title %}Latest Targets{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <h2>Latest Targets</h2>
    <ul>
      {% for target in targets %}
        <li>
          <a href="{% url 'target_detail' target.id %}">{{ target.name }} - {{ target.created }}</a>
          <div>
            <!--<a href="{% url 'target_detail' target.id %}"><img src="{% static 'plots/light_curve_' %}{{ target.id }}.png" alt="Light Curve for {{ target.name }}" width="200"></a>-->
            <a href="{% url 'target_detail' target.id %}"><img src="{% static 'plots/spectrum_' %}{{ target.id }}.png" alt="Spectrum for {{ target.name }}" width="200"></a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
