{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache classification_extras tides_targets_extras myplots_tags %}
{% block title %}Target {{ object.name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% endblock %}
{% block content %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Function to update the URL with the selected tab.
    const updateUrlWithTab = (tabId) => {
        const url = new URL(window.location.href);
        url.searchParams.set('tab', tabId);
        history.replaceState({}, document.title, url.toString());
    };

    // Tab change event listener.
    document.querySelectorAll('#tabs .nav-link').forEach(tab => {
        tab.addEventListener('click', () => updateUrlWithTab(tab.id.replace('-tab', '')));
    });

    // Select initial tab based on the URL.
    const tabQuery = new URL(window.location.href).searchParams.get('tab');
    if (tabQuery) {
        document.querySelector(`a[href="#${tabQuery}"]`)?.click();
    }

    // Redshift handling and plot updates.
    const plotDiv = document.querySelector("#spectroscopyPlot .js-plotly-plot");
    const redshiftSlider = document.querySelector("#redshiftSlider");
    const redshiftInput = document.querySelector("#redshiftInput");

    const lines = {
        "HydrogenCheckbox": { x: [4102.9351, 4341.69, 4862.68, 6564.61], color: "blue" },
        "HeliumCheckbox2": { x: [4685.710], color: "olive" },
        "NitrogenCheckbox2": { x: [6549.86, 6585.27], color: "deepskyblue"},
        "OICheckbox": { x: [6302.046], color: "crimson"},
        "OIICheckbox": {x: [3727.092, 3729.875], color: "darkred"},
        "OIIICheckbox": { x: [4364.44, 4960.30, 5008.24], color: "red" },
        "SIICheckbox": { x: [6718.29, 6732.68], color: "goldenrod"},
        "NeIIICheckbox": {x: [3869.81], color: "lawngreen"},
        "CIIICheckbox": {x: [1908.734], color: "brown"},
        "CIVCheckbox": {x: [1548.187, 1550.772], color: "black"},
        
        "CHCheckboxAbs": {x: [4300.00], color: "rgb(31, 31, 43)"},
        "CICheckboxAbs": {x: [9061.44, 9088.51, 9111.80], color: "brown"},
        "CIICheckboxAbs": {x: [6578.05, 6582.88], color: "black"},
        "NaICheckboxAbs": {x: [5889.95, 5895.92], color: "darkorange"},
        "MgICheckboxAbs": {x: [5167.33, 5172.68, 5183.60], color: "gray"},
        "CaIICheckboxAbs": {x: [3933.66, 3968.47], color: "purple"},

    };

    function updateLines(z) {
        const newShapes = Object.entries(lines)
            .filter(([id]) => document.getElementById(id)?.checked)
            .flatMap(([_, { x, color }]) => x.map(value => ({
                type: "line", x0: value * (1 + z), x1: value * (1 + z),
                y0: 0, y1: 1, xref: "x", yref: "paper", line: { color, width: 1 }
            })));
        Plotly.relayout(plotDiv, { shapes: newShapes });
    }

    function handleRedshiftChange(event) {
        const z = parseFloat(event.target.value);
        if (isNaN(z) || z < 0 || z > 10) return;  // Validate redshift range
        redshiftSlider.value = z;
        redshiftInput.value = z.toFixed(2);
        updateLines(z);
    }

    // Attach event listeners.
    redshiftSlider.addEventListener("input", handleRedshiftChange);
    redshiftInput.addEventListener("change", handleRedshiftChange);
    Object.keys(lines).forEach(id => document.getElementById(id)?.addEventListener("change", () => updateLines(parseFloat(redshiftSlider.value))));

    // Show/hide spectroscopy elements based on active tab.
    const toggleSpectroscopyElements = () => {
        const isActive = document.getElementById("spectroscopy-tab").classList.contains("active");
        document.querySelectorAll(".spectroscopy-only").forEach(el => {
          if (isActive) {
            el.classList.remove('d-none');
          } else {
            el.classList.add('d-none');
          }
      });
    };
    document.querySelectorAll(".nav-link").forEach(tab => {
        tab.addEventListener("click", () => setTimeout(toggleSpectroscopyElements, 50));
    });

    toggleSpectroscopyElements();  // Run once on page load
});
</script>

<div class="row">
  <div class="col-md-3">
    <div id="target-info">
      {% target_feature object %}
      {% if object.future_observations %}
      <div class="alert alert-success">
        {{ object.future_observations|length }} upcoming observation{{ object.future_observations|pluralize }}
      </div>
      {% endif %}
      {% target_unknown_statuses object %}
      {% target_buttons object %}
      {% tides_target_data object %}
      <h3>Classifications</h3>
      <ul>
        <li><strong>Auto Classifications:</strong></li>
        {% if auto_classifications %}
          <ul>
            {% for auto_classification in auto_classifications %}
              <li>
                <strong>Type:</strong> {{ auto_classification.sn_type }},
                <strong>Probability:</strong> {{ auto_classification.probability|floatformat:2 }},
                <strong>Version:</strong> {{ auto_classification.version }},
                <strong>Notes:</strong> {{ auto_classification.notes }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No Auto Classifications</p>
        {% endif %}
      </ul>

      <ul>
        <li><strong>Human Classification:</strong></li>
        {% if aggregated_human_class %}
            <p><strong>Most Common Classification:</strong> {{ aggregated_human_class.most_common_class }}</p>
            <p><strong>Number of Submissions:</strong> {{ aggregated_human_class.total_submissions }}</p>
            <p><strong>Count of Most Common Classification:</strong> {{ aggregated_human_class.count }}</p>
        {% else %}
            <p>No human classifications submitted yet.</p>
        {% endif %}
      </ul>
      <ul>
        <li><strong>All Human Classifications:</strong></li>
        {% if human_classifications %}
            <ul>
                {% for submission in human_classifications %}
                    <li>
                      <strong>User ID:</strong> {{ submission.person_id }},
                      <strong>Type:</strong> {{ submission.sn_type }},
                      {% if submission.sn_subtype %}<strong>Subtype:</strong> {{ submission.sn_subtype }}, {% endif %}
                      {% if submission.sn_z %}<strong>Redshift:</strong> {{ submission.sn_z|floatformat:2 }}, {% endif %}
                      <strong>Comments:</strong> {{ submission.comments }},
                      <strong>Submitted on:</strong> {{ submission.created|date:"Y-m-d H:i" }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No classifications have been submitted yet.</p>
        {% endif %}
      </ul>
      {% classification_form target.id %}
      {% recent_photometry object limit=3 %}
      {# {% endif %} #}
      {# {% recent_photometry object num_points=3 %} #}

    </div>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs" role="tablist" id="tabs">
      <li class="nav-item">
        <a class="nav-link active" id="spectroscopy-tab" href="#spectroscopy" role="tab" data-toggle="tab">Spectroscopy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="photometry-tab" href="#photometry" role="tab" data-toggle="tab">Photometry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="observe-tab" href="#observe" role="tab" data-toggle="tab">Observe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="observations-tab" href="#observations" role="tab" data-toggle="tab">Observations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="manage-data-tab" href="#manage-data" role="tab" data-toggle="tab">Manage Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="manage-groups-tab" href="#manage-groups" role="tab" data-toggle="tab">Manage Groups</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="observe">
        <h4>Observe</h4>
        {% observing_buttons object %}
        <hr/>
        {% observationtemplate_run object %}
        <hr/>
        <h4>Plan</h4>
        {% if object.type == 'SIDEREAL' %}
          {% target_plan %}
          {% moon_distance object %}
        {% elif target.type == 'NON_SIDEREAL' %}
          <p>Airmass plotting for non-sidereal targets is not currently supported. If you would like to add this functionality, please check out the <a href="https://github.com/TOMToolkit/tom_nonsidereal_airmass" target="_blank">non-sidereal airmass plugin.</a></p>
        {% endif %}
      </div>
      <div class="tab-pane" id="observations">
        {% existing_observation_form object %}
        <h4>Observations</h4>
        <a href="{% url 'targets:detail' pk=target.id %}?update_status=True" title="Update status of observations for target" class="btn btn-primary">Update Observations Status</a>
        {% observation_list object %}
      </div>
      <div class="tab-pane" id="manage-data">
        {% if user.is_authenticated %}
          {% upload_dataproduct object %}
        {% endif %}
        {% if user.is_authenticated %}
        <hr>
        {% query_single_target_data_service object %}
        <hr>
        {% endif %}
        {% dataproduct_list_for_target object %}
      </div>
      <div class="tab-pane" id="manage-groups">
        {% target_groups target %}
      </div>
      <div class="tab-pane" id="photometry">
        {% photometry_for_target target %}
        {% get_photometry_data object %}
        </div>
      <div class="tab-pane active" id="spectroscopy">
        {% target_spectroscopy target %}
      </div>
      <!-- Checkboxes -->
      <div class="checkbox-container spectroscopy-only">
        <div class="checkbox-group">
            <h5>Emission Lines</h5>
            <div class="checkbox-grid">
                <label><input type="checkbox" id="HydrogenCheckbox"> <span style="color: blue;">H</span></label>
                <label><input type="checkbox" id="HeliumCheckbox2"> <span style="color:olive">He II</span></label>
                <label><input type="checkbox" id="CIIICheckbox"> <span style="color:brown">C III</span></label>
                <label><input type="checkbox" id="CIVCheckbox"> <span style="color:black">C IV</span></label>
                <label><input type="checkbox" id="NitrogenCheckbox2"> <span style="color:deepskyblue">N II</span></label>
                <label><input type="checkbox" id="OICheckbox"> <span style="color:firebrick">O I</span></label>
                <label><input type="checkbox" id="OIICheckbox"> <span style="color:darkred">O II</span></label>
                <label><input type="checkbox" id="OIIICheckbox"> <span style="color: red;">O III</span></label>
                <label><input type="checkbox" id="NeIIICheckbox"> <span style="color:lawngreen;">Ne III</span></label>
                <label><input type="checkbox" id="SIICheckbox"> <span style="color:goldenrod;">S II</span></label>
            </div>
        </div>
    
        <div class="checkbox-group">
            <h5>Absorption Lines</h5>
            <div class="checkbox-grid">
              <label><input type="checkbox" id="CHCheckboxAbs"> <span style="color:rgb(31, 31, 43)">CH</span></label>
              <label><input type="checkbox" id="CICheckboxAbs"> <span style="color:brown">C I</span></label>
              <label><input type="checkbox" id="CIICheckboxAbs"> <span style="color:black">C II</span></label>
              <label><input type="checkbox" id="NaICheckboxAbs"> <span style="color:darkorange">Na I</span></label>
              <label><input type="checkbox" id="MgICheckboxAbs"> <span style="color: gray">Mg I</span></label>
              <label><input type="checkbox" id="CaIICheckboxAbs"> <span style="color:purple">Ca II</span></label>
            </div>
        </div>
    </div>
    
      
      
      {% comments_enabled as comments_are_enabled %}
      <hr/>
      <h5>Comments</h5>
        {% if comments_are_enabled %}
          {% render_comment_list for object %}
          {% url 'targets:detail' object.id as next %}
          {% if user.is_authenticated %}
            {% render_comment_form for object %}
          {% endif %}
        {% endif %}
    </div>
  </div>
  <div class="col-md-1">
    {% if object.type == 'SIDEREAL' %}
    {% aladin_finderchart object %}
    {% endif %}
    <!-- Redshift Slider -->
    <div class="spectroscopy-only">
      <label for="redshiftSlider">Redshift (z): </label>
      <input type="range" id="redshiftSlider" min="0" max="10" step="0.01" value="0">
      <input type="number" id="redshiftInput" min="0" max="10" step="0.01" value="0" style="width: 60px; text-align: center;">
    </div>
  </div>
</div>
{% endblock %}
